<p>modificar works!</p>

<div class='container'>
    <p>{{id}} {{nomprod}}</p>
    <table class='table table-dark'>
        <thead>
            <th>Producto</th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of producto.Producto">
                <td>
                    {{prod.nombre_producto}}
                    <button (click)="onSelect(prod)" class='btn btn-primary float-right mx-2'
                    data-target='#modificar' aria-controls="modificar" data-toggle='modal'>
                    Modificar
                    </button>
                    <button (click)="deleteProducto(prod.id)" class='btn btn-danger float-right mx-2'>Eliminar</button>
                    <button (click)="getComentario(prod.id)" class='btn btn-success float-right mx-2'
                    data-target='#isesion' aria-controls="isesion" data-toggle='modal'>
                        Ver Comentarios
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="isesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="overflow-auto" style=" max-height: 800px;">
                <div *ngFor='let com of comentario'>
                    <p class='text-secondary'> <b>{{com.nombre}}</b></p>
                    <p> {{com.comentario}}</p>
                </div>
            </div>
            <form class='form-group row' [formGroup]='PostComent'>
                <textarea class='form-control m-2' placeholder="Agregar Comentario" formControlName='comentario'>
                </textarea>
                <button class='float-right btn btn-primary m-2' (click)='postComentario()'>Comentar</button>
                <p>{{ModificarForm.value.comentario}}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="overflow-auto" style=" max-height: 800px;">
            <form class='form-group row' [formGroup]='PostComent'>
              <input class='form-control m-2' placeholder='Nombre del Producto'>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>