
<div class='container'>
  <div class='row'>
    <form [(formGroup)]='PostProd' class='form-group row m-2'>
      <div class='form-row'>
        <label class='m-2'>Nombre: <input formControlName='Nombre' class='form-control'></label>
      </div>
      <div>
        <label class='m-2'>Caducidad: <input formControlName='Caducidad' class='form-control'></label>
      </div>
    </form>
    <button class='btn btn-primary my-4' (click)='postProd()'>Agregar</button>
  </div>
</div>

<div class='container'>
    <table class='table table-dark'>
        <thead>
            <th>Producto</th>
            <th>Caducidad</th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of producto.Productos">
                <td>
                    {{prod.Nombre}}
                </td>
                <td>
                  {{prod.Caducidad}}
                  <button (click)="onSelect(prod)" class='btn btn-primary float-right mx-2'
                    data-target='#modificar' aria-controls="modificar" data-toggle='modal'>
                    Modificar
                    </button>
                    <button (click)="deleteProducto(prod)" class='btn btn-danger float-right mx-2'>Eliminar</button>
                    <button (click)="getComentario(prod)" class='btn btn-success float-right mx-2'
                    data-target='#isesion' aria-controls="isesion" data-toggle='modal'>
                        Ver Comentarios
                    </button>
                </td>
            </tr> 
        </tbody>
    </table>
</div>

<div class="modal fade" id="isesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div class="overflow-auto max-modal">
                <div *ngFor='let com of comentario'>
                    <div class='container'>
                      <p class='text-secondary'> <b>{{com.Nombre}}</b></p>
                      <p> {{com.Comentario}}</p>
                      <b (click)='deleteComentario(com.id)' class='text-danger float-right btn-borrar'>Borrar</b>
                    </div>
                </div>
            </div>
            <form class='form-group row' [formGroup]='PostComent'>
                <textarea type='text' class='form-control m-2' placeholder="Agregar Comentario" formControlName='Comentario'>
                </textarea>
                <button class='float-right btn btn-primary m-2' (click)='postComentario()'>Comentar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-2">
        <div>
          <div class="overflow-auto" style="max-height: 800px;">
            <form class='form-group row' [formGroup]='ModificarForm'>
              <input type='text' class='form-control m-2 p-2' placeholder='Nombre del Producto' 
              formControlName='Nombre' [(ngModel)]='nomprod'>
              <button class='btn btn-primary float-right m-2 p-2'
              (click)='putProducto()'>Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
