<div class="container">
    <h2>Iniciar Sesion</h2>
    <div class='m-4'>
        <form class="form-group" [formGroup]='LoginForm'>
            <div class="form-row">
                <label class='m-2'>Correo</label>
                <input class="m-2 form-control col-md-4 border border-dark" type='email' formControlName='email'>
            </div>
            <div class="form-row">
                <label class='m-2'>Password</label>
                <input class="m-2 form-control col-md-4 border border-dark" type='password' formControlName='password'>
            </div>
        </form>
    </div>
    <button type='submit' class='btn btn-success' (click)="loginuser()">Iniciar Sesion</button>
    <p>{{token.token}}</p>
    <p>{{data.data.nombre}}</p>
    <ul class='list-group'>
        <li *ngFor="let person of datas.data" class='list-group-item'>{{person.nombre}} edad: {{person.edad}}</li>
    </ul>
</div>